

<section>
  <div class="p-4">
    <div
      class="grid grid-cols-1 gap-4 list-none lg:grid-cols-3 lg:grid-rows-3 xl:grid-cols-4 xl:grid-rows-4"
    >
      <div
        class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
        <div class="relative flex items-center gap-x-4">
          <img
            src="/public/images/avatardp.jpg"
            alt=""
            class="h-10 w-10 rounded-full object-cover ring-1 dark:ring-white/10 ring-primary/5"
          />
          <div class="text-sm leading-6">
            <p class="font-semibold text-primary dark:text-white">
              <a href="#">
                <span class="absolute inset-0"></span>
                 Prateek Singh Chouhan
              </a>
            </p>
            <p class="text-zinc-500 dark:text-zinc-400">
              Full Stack developer
            </p>
          </div>
        </div>
        <p
          class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white"
        >
          Hey, welcome to my site!
        </p>
        <p
          class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 font-light lg:text-xl"
        >
          I'm a digital designer, developer from Bhopal. In the
          digital world, I craft interfaces and dive into coding intricacies.
          <br />
          <br />
          Beyond screens, I find solace playing football and cinematography along the banks of the Upper Lake in Bhopal. 
          My life blends tech and nature, coding sessions, and catching
          waves.
        </p>
      </div>

<!-------------------------------- Find me on section starts here ----------------------------------------------->

      <div
        class="ring-1 dark:ring-white/10 ring-primary/5 rounded-3xl justify-between shadow-xl dark:shadow-thick items-center flex flex-col p-8 h-full bg-white  dark:bg-secondary">
        <div class="w-full">
          <p class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-8xl">
            Find me on
          </p>
        </div>


        <!------------ Social links ----------------->
        <div class="grid mt-4 grid-cols-4 md:grid-cols-8 lg:grid-cols-4 gap-y-4 gap-4 justify-center w-full">
          <a
            href="mailto:email@prateeksinghchouhan007.com"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-mail h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
              ></path><path d="M3 7l9 6l9 -6"></path></svg
            >
          </a>

          <a
            href="https://github.com/Prateeksingchn"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-github h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
              ></path></svg
            >
          </a>

          <a
            href="https://www.linkedin.com/in/prateek-singh-chouhan-654486243/"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50 icon-tabler-brand-linkedin"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
              ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"
              ></path><path d="M12 16l0 -5"></path><path
                d="M16 16v-3a2 2 0 0 0 -4 0"></path></svg
            >
          </a>
          
          <a
            href="https://www.instagram.com/__.prateeeeek.__/"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
          <i class="fa-brands fa-instagram pl-1 pt-1 icon icon-tabler h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50 icon-tabler-brand-instagram"></i>
          </a>

          <a
            href="https://www.behance.net/prateeksinghc1"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-behance h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 18v-12h4.5a3 3 0 0 1 0 6a3 3 0 0 1 0 6h-4.5"></path><path
                d="M3 12l4.5 0"></path><path
                d="M14 13h7a3.5 3.5 0 0 0 -7 0v2a3.5 3.5 0 0 0 6.64 1"
              ></path><path d="M16 6l3 0"></path></svg
            >
          </a>

          <a
            href="https://dribbble.com/prateeeeek"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50 icon-tabler-brand-dribbble"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path
                d="M9 3.6c5 6 7 10.5 7.5 16.2"></path><path
                d="M6.4 19c3.5 -3.5 6 -6.5 14.5 -6.4"></path><path
                d="M3.1 10.75c5 0 9.814 -.38 15.314 -5"></path></svg
            >
          </a>

          <a
            href="https://in.pinterest.com/prateekchouhan96483/"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
          <i class="fa-brands fa-pinterest pl-3 pt-3 icon icon-tabler h-10 w-10 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50 icon-tabler-brand-instagram"></i>
          </a>

          <a
            href="#_"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50 icon-tabler-brand-x"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 4l11.733 16h4.267l-11.733 -16z"></path><path
                d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path></svg
            >
          </a>
        </div>
        <!------------ Social links ----------------->
      </div>

<!-------------------------------- Find me on section ends here ------------------------------------>


<!-------------------------------- Designify section ends here -------------------------------------->

      <a
        href="#"
        class="ring-1 lg:row-span-2 flex flex-col justify-between group hover:ring-primary/10 dark:hover:ring-white/20 duration-300 h-full dark:ring-white/10 ring-primary/5 lg:row-start-2 md:grid-cols-2 md:grid lg:gap-0 md:items-center md:gap-12 lg:grid-cols-none lg:col-start-2 lg:col-span-2 rounded-3xl p-8 bg-white dark:bg-secondary shadow-xl dark:shadow-thick" >
        <div>
          <p
            class="ext-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl"
          >
            Designify
          </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400">
            Design & development subscriptions for startups.
            <br />
            <br />
             Designify streamlines the design process with a fixed monthly rate
            and limitless design requests. Say goodbye to phone calls and
            extensive contracts; reach out to Designify directly at any time.
            Embrace flexibility, pause or terminate your subscription whenever
            you need.
          </p>
        </div>
        <div class="mt-8">
          <img
            src="/public/images/Designify4.png"
            class="rounded-2xl group-hover:ring-white/20 duration-300 invert dark:invert-0 aspect-[4/4] bg-primary/5 dark:bg-primary ring-1 ring-white/10  object-cover"
            alt=""
          />
        </div>
      </a>

<!-------------------------------- Designify section starts here ------------------------------------>




<!-------------------------------- Resume section starts here --------------------------------------->
      <div
        class="ring-1 dark:ring-white/10  ring-primary/5 flex flex-col justify-between items-center rounded-3xl shadow-xl dark:shadow-thick p-8  bg-white dark:bg-secondary overflow-hidden text-center lg:text-left">
        <div>
          <p
            class="text-xl text-primary dark:text-white lg:text-7xl tracking-tight"
          >
            Grab my résumé!
          </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 md:max-w-xs lg:max-w-none">
            Unlock the doors to explore the rich tapestry of my professional
            journey and accomplishments.
          </p>
        </div>
        <div class="w-full mt-8 md:max-w-xs lg:max-w-none">
        <a href="https://drive.google.com/file/d/14Kgva0jVB4b-4knPzhpDPGV5rtkJVnsI/view?usp=drive_link">
          <button
            type="button"
            class="text-sm py-2 w-full px-4 h-12 font-semibold focus:ring-2 rounded-lg bg-primary dark:bg-white dark:text-primary dark:hover:text-white hover:text-primary dark:hover:bg-white/5 hover:bg-primary/10 text-white flex duration-200 focus:ring-offset-2 focus:ring-inline-flex items-center justify-between">
            Download my CV
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-download w-4 h-4"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path><path
                d="M7 11l5 5l5 -5"></path><path d="M12 4l0 12"></path></svg
            >
          </button>
        </a>
          
        </div>
      </div>
<!---------------------- Resume section starts here --------------------------->




<!---------------------- << My Projects section starts here >> --------------------------->

      <a
        href="/project/Project"
        class="ring-1 lg:row-start-3 items-center h-full flex p-8 flex-col justify-center hover:ring-primary/5 dark:hover:ring-white/20 dark:ring-white/10 ring-primary/5 relative rounded-3xl overflow-hidden bg-white dark:bg-secondary shadow-xl dark:shadow-thick" >
        <img 
        class="rounded-3xl hover:scale-105 duration-300"
        src="/public/images/PROJECTS.png" alt="">
          
        <p class="text-xl hover:underline hover:scale-105 duration-500 text-primary dark:text-white lg:text-2xl mt-6">
          My Projects
        </p>
      </a>
    
<!------------------------ << My Projects section starts here >> ------------------>





<!------------------------ Skills section starts here ------------------>

    <div class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 hover:ring-primary/5 bg-white dark:bg-secondary dark:hover:ring-white/20 overflow-hidden duration-300 shadow-xl dark:shadow-thick rounded-3xl p-8">
        <a href="#">
          <div class="-mr-28 pr-4 ">
              <img src="/public/images/Skills3.png" class="rounded-2xl object-cover ring-1 h-64 w-[75%] lg:h-auto dark:ring-white/10 ring-primary/5 bg-tertiary hover:scale-105 duration-300" alt="" />
          </div>
        </a>
        <div class="mt-8 grid grid-cols-2 gap-4 mt-8 text-white p-4 border-2 border-zinc-500 rounded-xl">
          <div class="flex flex-col items-center justify-center">
            <i class="text-6xl hover:scale-125 duration-300 text-teal-200 ri-java-fill"></i>
            <p class="text-[14px] mt-2 w-full text-center">JAVA</p>
          </div>
          <div class="flex flex-col items-center justify-center">
            <img class="w-14 h-14 object-cover hover:scale-125 duration-300 rounded-lg" src="https://th.bing.com/th/id/OIG4.li6EO7EIwdkpRxQeS81B?pid=ImgGn" alt="">
            <p class="text-[14px] mt-2 w-full text-center">DSA</p>
          </div>
        </div>

        <div class="grid grid-cols-3 gap-10 mt-8 text-white">
          <div class="flex flex-col items-center justify-center">
            <i class="text-5xl hover:scale-125 duration-300 text-yellow-300 fa-brands fa-html5"></i>
            <p class="text-[12px] mt-2 w-full text-center">HTML</p>
          </div>
          <div class="flex flex-col items-center justify-center">
            <i class="text-5xl hover:scale-125 duration-300 text-yellow-300 fa-brands fa-css3"></i>
            <p class="text-[12px] mt-2 w-full text-center">CSS</p>
          </div>
          <div class="flex flex-col items-center justify-center">
            <i class="text-5xl hover:scale-125 duration-300 text-blue-400 ri-tailwind-css-fill "></i>
            <p class="text-[12px] mt-2 w-full text-center">Tailwind CSS</p>
          </div>
          <div class="flex flex-col items-center justify-center">
            <i class="text-5xl hover:scale-125 duration-300 text-green-600 fa-brands fa-js"></i>
            <p class="text-[12px] mt-2 w-full text-center">JAVASCRIPT</p>
          </div>
          <div class="flex flex-col items-center justify-center">
             <i class="text-5xl hover:scale-125 duration-300 text-sky-300 fa-brands fa-react"></i>
             <p class="text-[12px] mt-2 w-full text-center">React</p>
          </div>
          <div class="flex flex-col items-center justify-center">
            <i class="text-5xl hover:scale-125 duration-300 text-indigo-500 ri-nextjs-fill"></i>
            <p class="text-[12px] mt-2 w-full text-center">Next JS</p>
          </div>
          
          <div class="flex flex-col items-center justify-center">
            <i class="text-5xl hover:scale-125 duration-300 text-orange-300 fa-brands fa-node"></i>
            <p class="text-[12px] mt-2 w-full text-center">Node JS</p>
          </div>
          <div class="flex flex-col items-center justify-center">
            <img class="w-12 h-12 object-cover hover:scale-125 duration-300 rounded-lg" src="https://th.bing.com/th/id/OIP.1fZjQpkRMKTBGN_7H5YnFwHaGL?w=212&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
            <p class="text-[12px] mt-2 w-full text-center">Express JS</p>
          </div>
          <div class="flex flex-col items-center justify-center">
             <img class="w-24 h-10 object-cover hover:scale-125 duration-300 rounded-lg" src="https://th.bing.com/th/id/OIP.ZMVxEuzJpE0KPbT52ijMcAHaEK?w=333&h=187&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
             <p class="text-[12px] mt-2 w-full text-center">EJS</p>
          </div>
          <div class="flex flex-col items-center justify-center">
            <img class="w-12 h-12 object-cover hover:scale-125 duration-300 rounded-lg" src="https://th.bing.com/th/id/OIP.ty8m8Y3dzgD6P5Xc17gbYwHaEd?w=258&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
            <p class="text-[12px] mt-2 w-full text-center">Mongodb</p>
          </div>
          <div class="flex flex-col items-center justify-center">
            <i class="text-5xl hover:scale-125 duration-300 text-blue-800 fa-solid fa-database"></i>
            <p class="text-[12px] mt-2 w-full text-center">DBMS</p>
          </div>
          <div class="flex flex-col items-center justify-center">
            <img class="w-12 h-12 object-cover hover:scale-125 duration-300 rounded-lg" src="https://th.bing.com/th/id/OIP.JVt34lGxmm0GAGNNL_mwBgHaHa?w=178&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
            <p class="text-[12px] mt-2 w-full text-center">My-SQL</p>
          </div>
          <div>
            <img src="" alt="">
            <p></p>
          </div>
          <div>
            <img src="" alt="">
            <p></p>
          </div>
          <div>
            <img src="" alt="">
            <p></p>
          </div>
        </div>
    </div>

<!------------------------ Skills section Ends here ------------------>



<!----------------------------------- message section starts here ------------------------------------>
      <div
        class="ring-1 dark:ring-white/10 ring-primary/5 flex flex-col p-8 h-full justify-center items-center rounded-3xl overflow-hidden relative lg:col-span-2 lg:row-start-4 bg-white dark:bg-secondary shadow-xl dark:shadow-thick" >


        <div class="relative p-8 text-center w-full">
          <p
            class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl"
          >
            Subscribe <span class="lg:block">to my newsletter</span>
          </p>
          <form class="mt-6 sm:flex w-full lg:max-w-sm mx-auto">
            <label for="email-address" class="sr-only">Email address</label>
            <input
              type="email"
              name="email-address"
              id="email-address"
              autocomplete="email"
              required=""
              class="block w-full h-12 px-4 py-2 text-sm text-zinc-500 bg-zinc-100 dark:bg-tertiary ring-1 dark:ring-white/10 ring-primary/5 rounded-lg appearance-none focus:ring-white/20 placeholder-zinc-400 focus:border-zinc-300 focus:bg-primary focus:outline-none focus:ring-indigo-500 sm:text-sm"
              placeholder="Enter your email"
            />
            <div class="mt-4 sm:ml-2 sm:mt-0 sm:flex-shrink-0">
              <button
                type="submit"
                class="text-sm py-2 w-full px-4 h-12 font-semibold focus:ring-2 rounded-lg bg-primary dark:bg-white dark:text-primary dark:hover:text-white hover:text-primary dark:hover:bg-white/5 hover:bg-primary/10 text-white flex duration-200 focus:ring-offset-2 focus:ring-inline-flex items-center justify-between"
                >Subscribe</button
              >
            </div>
          </form>
        </div>
      </div>
<!----------------------------------- message section Ends here ------------------------------------>



<!----------------------------------- Testimonials section starts here ------------------------------------>

       <div
        class="ring-1 dark:ring-white/10 ring-primary/5 shadow-xl dark:shadow-thick rounded-3xl p-8 lg:row-start-4 h-full flex flex-col justify-between bg-white dark:bg-secondary">
        <p
          class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-5xl">
          Testimonials
        </p>
        <div class="md:grid md:grid-cols-2 gap-6 lg:grid-cols-1">
          <div class="mt-4">
            <p class="text-sm text-pink-500 dark:text-pink-400">
              "Big fan of your themes. They're well-organized, look clean, and
              are fast."
            </p>
            <p class="text-xs mt-2 text-zinc-500">
              <span class="block text-xs">Yuvraj Bali</span>
              <span class="block text-xs"> Developer</span>
            </p>
          </div>
          <div class="mt-4">
            <p class="text-sm text-orange-500 dark:text-orange-300">
              "Amazing resource using @react and @tailwindcss! I got it
              a week ago and have found the contents really useful. 5/5
            </p>
            <p class="text-xs mt-2 text-zinc-500">
              <span class="block text-xs">Ayush</span>
              <span class="block text-xs"> Entrepreneur</span>
            </p>
          </div>
        </div>
      </div>

     
<!----------------------------------- Testimonials section Ends here ------------------------------------>
      



<!----------------------------------- last section Ends here ------------------------------------>      
      <div
        class="lg:col-span-2 xl:col-span-1 h-full flex flex-col justify-between lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8">
        <p
          class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-3xl">
          As a digital designer, my expertise lies in crafting distinctive
          visual identities for digital products.
          <br />
          <br />
           I hold the belief that an engaging design begins with shared values,
          transparent communication, and a genuine respect for the audience.
        </p>
        <p class="text-primary dark:text-white mt-4">Prateek Singh Chouhan</p>
      </div>
<!----------------------------------- last section Ends here ------------------------------------>      
    </div>
  </div>
</section>
